/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DESIGN GUIDE */
:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-orange: #ee9972;
  --secondary-light: #fdf4ee;
  --secondary-white: #edefee;
  --secondary-black: #333333;
  --module-padding-lg: 4rem 0;
  --module-padding-sm: 2rem 0;
}

* {
  font-family: "Karla", "Arial", sans-serif;
}

.title,
.sub-title {
  font-family: "Markazi Text", "Courier", serif;
}

.display-title > .title {
  font-size: 64px;
  font-weight: 500;
}

.display-title > .sub-title {
  font-size: 40px;
  font-weight: 400;
  margin-top: -1rem;
}

@media (max-width: 700px) {
  .display-title > .title {
    font-size: 48px;
  }
  .display-title > .sub-title {
    font-size: 36px;
  }
}

.lead-text {
  font-size: 18px;
  font-weight: 500;
}

.section-title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.special-section-category {
  font-weight: 800;
}

.highlight-text {
  font-weight: 500;
  color: var(--secondary-orange);
  padding: 10px 0;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  padding: 10px 0;
}

.description {
  /* 3 rows */
  max-width: 285px;
}

.btn {
  border: none;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 500px;
  color: var(--secondary-black);
  padding: 5px 0;
}

.btn-primary {
  background-color: var(--primary-yellow);
  padding: 8px 16px;
  min-width: 148px;
  min-height: 35px;
  font-size: 16px;
  font-weight: 700;
}

img {
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.rating-star {
  width: 16px;
  height: 16px;
  border-radius: 0;
}

.avatar {
  width: 40px;
}

.icon {
  width: 30px;
  border-radius: 0;
}

nav a:visited,
nav Link:visited,
nav a:link,
nav Link:link {
  text-decoration: none;
  color: black;
}

nav ul {
  top: 0;
  z-index: 999;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav li {
  display: inline-block;
}
nav li > a {
  font-size: 1rem;
  font-family: "Karla";
  font-weight: 900;
  color: #333333;
  text-decoration: none;
}
/*HEADER*/
.header {
  display: grid;
  grid-template-columns: 150px auto;
  padding: 1rem 0;
}

.logo-image {
  width: 147px;
  border-radius: 0;
}

header li {
  padding: 10px;
}
/* HERO  */
.hero-container {
  background-color: #495e57;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-container {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  width: 30%;
  padding: 48px;
}
h1,
h2 {
  margin: 0;
  font-family: "Markazi Text";
}
.hero-container h1 {
  color: #f4ce14;
  font-weight: 400;
}
.hero-container h2 {
  color: #edefee;
  font-weight: 300;
}
p {
  font-family: "Karla";
  color: #edefee;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
}
.img-container img {
  width: inherit;
  margin-top: 72px;
  border-radius: 16px;
  position: absolute;
}
/* ABOUT */
.abt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}
.abt-container .txt-container {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  width: 30%;
}
.abt-container h1,
h2 {
  margin: 0;
  font-family: "Markazi Text";
}
.abt-container h1 {
  color: #495e57;
  font-weight: 400;
}
.abt-container h2 {
  color: #333333;
  font-weight: 300;
}
.abt-container p {
  font-family: "Karla";
  color: #333333;
}

.abt-container .abt-img-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  max-width: 400px;
  height: fit-content;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 64px;
  flex-direction: row;
  padding-bottom: 48px;
}

.abt-container .abt-img-container .abt-img {
  width: 200px;
  margin-top: 72px;
}
#img1 {
  width: inherit;
  height: 300px;
  border-radius: 16px;
  margin-top: 72px;
  z-index: -999;
  position: absolute;
}
#img2 {
  width: inherit;
  height: 300px;
  border-radius: 16px;
  z-index: 999;
}
/* HIGHLIGHTS */
.hts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}
.hts-container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
}
.hts-container h1 {
  color: #333333;
  font-weight: 400;
}
.cards-carrousel {
  padding: 24px 48px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 48px;
  flex-direction: row;
}
/* HIGHLIGHTCARD*/

.ht-card {
  width: 240px;
  background-color: #edefee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
}
.ht-card img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.card-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 0 8px;
}
.card-title-container h3 {
  font-family: "Karla";
  color: #000;
  font-weight: 800;
  font-size: 1rem;
}
.card-title-container p {
  font-family: "Karla";
  color: #ee9972;
  line-height: 1.5;
  font-size: 0.75rem;
  font-weight: 600;
}
.card-p {
  padding: 0 8px;
  margin: none;
  font-family: "Karla";
  color: #495e57;
  line-height: 1.5;
  font-size: 0.75rem;
  text-align: start;
}
.card-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: -webkit-fill-available;
  padding: 8px;
}
.categories {
  font-family: "Karla";
  color: #000;
  font-weight: 900;
  font-size: 1rem;
}
/*TESTIMONIALS*/

.tml-container {
  background-color: #f4ce14;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
}
.tml-container h1 {
  text-align: start;
  width: 50%;
  color: #333333;
  font-weight: 400;
}
.tml-container .card-container {
  padding: 24px 48px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 48px;
  flex-direction: row;
}
.tml-card {
  width: 300px;
  background-color: #edefee;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 8px;
}
.user-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
}
.tml-card img {
  height: 150px;
  margin-right: 16px;
}
.tml-card h3 {
  font-family: "Karla";
  color: #000;
  font-weight: 900;
  font-size: 1rem;
}
.tml-card p {
  margin: none;
  font-family: "Karla";
  color: #495e57;
  line-height: 1.5;
  font-size: 0.75rem;
  text-align: start;
}




/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #edefee;
  padding: 16px 0;
}

footer .lnk-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 50%;
}
.lnk-container h3 {
  font-family: "Karla";
  color: #000;
  font-weight: 900;
  font-size: 1rem;
  text-align: start;
  margin: none;
}

.footer-nav {
  display: none;
}

.footer ul {
  list-style-type: none;
}

footer img {
  width: 100px;
}
.lnk-container ul {
  list-style: none;
  text-align: start;
}
.lnk-container li {
  margin: none;
  font-family: "Karla";
  color: #495e57;
  line-height: 1.5;
  font-size: 0.75rem;
  text-align: start;
}

.template-page-hero .title {
  text-align: center;
}

.template-page-hero {
  background-color: #495e57;
  color: white;
}

/* BOOKING */
#booking-form {
    padding: 50px 0px 50px;
    text-align: center;
    background-color: #EDEFEE;
}

#booking-form-title {
    margin: 0px 0px 25px;
}

#booking-form-inner {
    width: 350px;
    margin: auto;
    padding: 20px 30px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #F4CE14;
}

#booking-form-inner label {
    margin: 30px 0px 10px;
    font-size: 14pt;
    font-weight: 700;
}

#booking-form-inner input, #booking-form-inner select {
    height: 35px;
    max-width: 330px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    border: none;
}

#booking-form-inner select {
    height: 40px;
    max-width: 341px;
    line-height: 300px;
    -webkit-appearance: menulist-button;
    -moz-appearance: none;
}

#booking-form-inner input[type='submit'] {
    width: 280px;
    height: 50px;
    border-radius: 10px;
    margin: 40px auto 0px;
    text-align: center;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 13pt;
    font-weight: 500;
}

#booking-form-inner input[type='submit']:disabled {
    /* background-color: #999999 */
    opacity: 50%;
}